.App {
  text-align: center;
  margin: 50px 0 0 50px;
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-image: url("img/background.jpg");
  background-size: cover;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.drone {
  background-image: url("img/drone.png");
  width: 60px;
  height: 60px;
  background-size: cover;
  background-color: transparent;
  position: relative;
  top: 0;
  left: 0;
}

.board {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: transparent;
  width: 250px;
  color: #000;
  font-weight: bold;
}

p {
  margin: 0;
}
